
      {% extends 'header.html' %}

      {% block title %}登录{% endblock %}

        {% block head %}
{#            <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">#}
            <link rel="stylesheet" href="../static/css/login.css">
        {% endblock %}

      {% block mainheader %}


        <!-- start banner Area -->
        <section class="banner-area relative" id="home">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="about-content col-lg-12">
                        <h1 class="text-white page-title">
                            三螺旋
                        </h1>
                        <p class="text-white">你想要的，都在这里</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- End banner Area -->

        <!-- Login Area -->
          <div class="loginmain">
        <form action="" method="post" >
        <div class="form-container" >
            <div class="form-group">
                <input type="text" class="form-control" placeholder="手机号码" name="phone_user" maxlength="11" onblur="checkMobile()"/>
                <span type="text" id="msg" style="display:none"></span>
                <script>
                    function checkMobile() {
                        var phone = document.getElementsByName("phone_user")[0];
                        if (!(/^1[34578]\d{9}$/.test(phone.value))){
                            $("#msg").show();
                            $("#msg").html("请输入正确的手机号");
                           phone.focus();
                            return false;

                        }else{
                              $("#msg").hide();
                        }
                    }
                </script>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="密码" name="password_user"/>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="graph_captcha" placeholder="请输入验证码">
                    <span class="input-group-addon captcha-addon">
                        <a href="#"><img id="captcha-img" src="{{ url_for('usercontroller.graph_captcha') }}"></a><!--加了id aptcha-img-->
                    </span>
                </div>
            </div>
            <div class="form-group" style="text-align: center">
                <button class="btn btn-primary">登录</button>
            </div>

        </div>
    </form>
              <script src="../static/js/login/login-js.js"></script>
              <script src="../static/js/login/front_signup.js"></script>
          </div>
        <!-- End Login Area -->


      {% endblock %}





